html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #fff;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
}

body a {
    color: #1857a0;
}

#container {
    height: 100%;
    padding: 0;
    margin: 0;
}

#page_title {
    padding: 0px;
    font-size: 2em; 
    font-weight: normal;
}


#container #side {
    text-align: center;
    height: 100%;
    background-color: #404040;
    color: #fff;
    margin-top: 0;
    margin-right: 10px;
    width: 80px;
    float: left;
}

#container #side a {
    color: #fff;
}

#container #content {
    overflow: auto;
    margin-left: 90px;
    padding-left: 1em;
    max-width: 800px;
}

div#desc {
    font-style: italic;
}
