body {
    background-color: #fff;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
    color: #000;
}

body a {
    color: #1857a0;
}

#page_title {
    padding: 5px;
    font-size: 2em; 
    font-weight: normal;
}


#container {
    width: 45em;
}

#container #nav {
    width: 5em;
    float: left;
}

#container #content {
    width: 40em;
    float: left;
}
